/* Reusable Code Section Starts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0.7rem;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: "Work Sans", sans-serif;
}

:root {
    --bg: rgb(249, 249, 255);
    --overlay: #3e64ff;
    --black: #212529;
    --gradient: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
    --gradientSupport: -webkit-linear-gradient(0deg,
            rgb(132, 144, 255) 0%,
            rgb(98, 189, 252) 100%);
    --heading: rgb(0, 10, 45);
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --para: #777;
    --para-tint: #e4e4e4;
    --shadow: 0rem 0rem 2rem 0rem rgb(102, 111, 192);
    --shadowSupport: 0 2rem 2rem 0 rgba(132, 144, 255, 0.5);
    --white: #fff;
    --icons-bg: rgb(144 172 209 / 20%);
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

h1,
h2,
h3,
h4 {
    font-family: 'Poopins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    padding: 4.5rem 0rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 9rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
    /* Here 2 is number of columns */
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
    /* Here 3 is number of columns */
}

.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
    /* Here 4 is number of columns */
}

.btn {
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--white);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 1rem;
}

.btn:hover,
.btn:active {
    box-shadow: var(--shadowSupport);
}

.common-heading {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
}

.common-heading::before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--helper);
    border-radius: 50%;
}

.common-heading::after {
    content: "";
    position: absolute;
    top: 130%;
    left: 1.1rem;
    height: 0.3rem;
    min-width: 20rem;
    background: var(--helper);
}


/* Reusable Code Section Ends */


/* Header Section Starts */
.header {
    padding: 0rem 4.8rem;
    height: 10rem;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    /* width: 16rem; */
    height: 5rem;
}

.navbar-lists {
    display: flex;
    gap: 2.5rem;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    transition: all 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
    color: var(--helper);
}

.mobile-navbar-btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mobile-nav-icon {
    width: 5rem;
    height: 5rem;
    color: #212529;
}

/* Header Section Ends */


/* Sticky NavBar Section Starts */

.sticky .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(36 220 211 / 46%);
    box-shadow: var(--shadow);
}

.sticky .section-hero{
    margin-top: 10rem;
}


/* .sticky2 .section-hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(220, 189, 36, 0.46);
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: var(--shadow);
}

.sticky2 .section-hero {
    margin-top: 10rem;
} */


/* Sticky NavBar Section Ends */


/* Hero Section Starts */

.section-hero {
    background-color: var(--bg);
}

.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}

.hero-top-data {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);
}

.hero-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}

.hero-para {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.section-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hero-image img {
    border-radius: 1.5rem;
    box-shadow: 2rem -2rem 0 0 var(--helper);
}

.hero-img {
    max-width: 80%;
}

/* Hero Section Ends */


/* Bio Section Starts */

.bio-data-para {
    padding-bottom: 3rem;
}

.bio-image img {
    border-radius: 1.5rem;
    width: 80%;
    box-shadow: -2rem -2rem 0 0 var(--helper);
    display: inline-block;
}

.bio-data-stat {
    display: flex;
    padding: 0rem 0rem 3.5rem 0rem;
    flex-direction: column;
    gap: 3rem;
}

.bio-stat h3 {
    margin-bottom: 1rem;
}

.bio-progress-bar {
    width: 90%;
    height: 0.8rem;
    background-color: var(--para-tint);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    position: relative;
}

.bio-progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 1rem;
}

.bio-progress-2::before {
    width: 80%;
}

.bio-progress-3::before {
    width: 50%;
}

.bio-progress-4::before {
    width: 69%;
}

.bio-progress-5::before {
    width: 49%;
}

.bio-progress-6::before {
    width: 60%;
}

.bio-progress-7::before {
    width: 60%;
}

.bio-progress-8::before {
    width: 50%;
}

.bio-progress-bar span {
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    outline: 0;
}

.bio-progress-bar span {
    left: 85.3%;
}

.bio-progress-2 span {
    left: 75.3%;
}

.bio-progress-3 span {
    left: 45.5%;
}

.bio-progress-4 span {
    left: 64.3%;
}

.bio-progress-5 span {
    left: 44.3%;
}

.bio-progress-6 span {
    left: 55.3%;
}

.bio-progress-7 span {
    left: 55.3%;
}

.bio-progress-8 span {
    left: 45.3%;
}

/* To create Caret */
.bio-progress-bar span::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 1rem solid var(--helper);
    border-color: transparent;
    /* border-bottom-color: var(--helper); */
    border-bottom-color: var(--helper);
    top: -1.8rem;
    /* right: 18px; */
}

/* Bio Section Ends */


/* Portfolio Section Starts */

.section-portfolio {
    background: var(--bg);
    transition: all 0.7s linear;
}

.section-portfolio p {
    max-width: 60rem;
}

.p-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin: 3rem 0rem;
}

.portfolio-images {
    gap: 3.2rem;
    margin-top: 6.4rem;
}

.portfolio-images img {
    height: 20rem;
    width: 100%;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: relative;
    overflow: hidden;
}

.img-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: var(--gradientSupport);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 1rem;
}

.img-overlay:hover>.overlay {
    transform: translateY(0);
    opacity: 0.8;
    cursor: pointer;
}

.img-overlay .common-heading {
    margin: 0;
    color: var(--white);
    text-transform: none;
}

.p-btn-active {
    transform: translateY(-1rem);
}

.p-image-not-active {
    display: none;
}

/* Portfolio Section Ends */


/* Counter Section Starts */

.section-work-data {
    background: var(--gradientSupport);
    text-align: center;
    transition: all 0.7s linear;
    /* color: var(--white); */
}

.counter-numbers {
    font-size: 4.8rem;
    color: var(--white);
}

.section-work-data p {
    color: var(--white);
    text-transform: capitalize;
}

/* Counter Section Ends */


/* Service Section Starts */

.section-services {
    transition: all 0.7s linear;
}

.section-services p {
    max-width: 60rem;
}

.section-services .grid {
    margin-top: 5rem;
    row-gap: 5rem;
}

.service-box {
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 2rem;
    /* padding: 6.4rem 3.4rem; */
    transition: all 0.2s linear;
}

.service-box:hover,
.service-box:active {
    transform: translateY(-3rem);
}

.service-icon {
    width: 6rem;
    height: 6rem;
    background-color: var(--icons-bg);
    display: inline-block;
    border-radius: 100% 0% 100% 0% / 46% 48% 52% 54%;
    /* border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%; */
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--heading);
    animation: water-wave 2.5s linear infinite;
}

.service-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border-radius: 100% 0% 100% 0% / 46% 48% 52% 54%;
    /* background-color: var(--black); */
    border: 0.1rem solid var(--black);
    animation: water-wave 2.5s linear infinite;
}

@keyframes water-wave {

    0%,
    100% {
        /* border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%; */
        border-radius: 100% 0% 100% 0% / 46% 48% 52% 54%;
    }

    50% {
        border-radius: 0% 100% 0% 100% / 46% 48% 52% 54%;
    }
}

.service-box h3 {
    text-transform: capitalize;
    margin-top: 3rem 0 1rem 0;
}

/* Service Section Ends */


/* Extracurricular Section Starts */

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 9rem;
}

.swiper-slide {
    text-align: center;
    font-size: 1.8rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

.swiper-client-msg::before {
    content: "";
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translate(-50%);
    border: 5rem solid var(--white);
    border-color: transparent;
    border-top-color: var(--helper-tint);
}

.swiper-client-msg p::before {
    content: "\f10d";
    position: absolute;
    top: 0;
    left: 4rem;
    font-size: 5rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    color: #ced3ff;
}

.swiper-client-msg p::after {
    content: "\f10e";
    position: absolute;
    bottom: 0;
    right: 4rem;
    font-size: 5rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ced3ff;
}

.swiper-client-msg {
    padding: 5rem 8rem;
    /* background: var(--white); */
    border-radius: 1rem;
    text-align: left;
    box-shadow: var(--shadow);
    position: relative;
}

.swiper-client-data {
    align-items: center;
    margin-top: 3.2rem;
    gap: 0.2rem;
}

.swiper-slide img {
    max-width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.5rem solid var(--helper-tint);
    display: block;
    object-fit: cover;
}

/* Extracurricular Section Ends */


/* Freelancing Section Starts */

.section-freelancing {
    background-image: url('../images/folio/3.jpg');
    background-repeat: no-repeat;
    background-size: 200rem;
    padding: 0rem 0rem;
    background-attachment: fixed;
    position: relative;
    transition: all 0.7s linear;
    text-align: center;
}

.section-freelancing .overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--overlay);
    opacity: 0.5;
}

.section-freelancing .container {
    position: relative;
}

.section-freelancing h2 {
    font-size: 5.4rem;
}

.section-freelancing span {
    color: #a0f669;
}

.section-freelancing h2,
.section-freelancing p {
    color: var(--white);
    margin-bottom: 1.8rem;
}

/* Freelancing Section Ends */


/* Contact Us Section Starts */

.section-contact-main {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: auto;
    transition: all 0.3s linear;
}

.map iframe:hover {
    box-shadow: var(--shadow);
}

.section-contact-main .grid {
    gap: 3.2rem;
}

.section-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.section-contact-main input,
.section-contact-main textarea {
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-family: "work sans";
    width: 100%;
}

.section-contact-main input [type="submit"] {
    max-width: 30%;
    border: none;
}

/* Contact Us Section Ends */


/* Footer Section Starts */

.section-footer {
    background: var(--heading);
    transition: all 0.7s linear;
}

.section-footer h3 {
    color: var(--white);
    margin-bottom: 4rem;
}

.f-about p {
    color: #adadad;
}

.f-links ul,
.f-services ul,
.f-address address {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
    font-size: 1.8rem;
    color: #adadad;
    text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
    margin-right: 1rem;
}

.f-address p,
.f-address p a {
    font-style: normal;
    color: #adadad;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
}

.f-social-icons {
    margin: 0 1rem;
    text-align: center;
    color: #adadad;
    display: inline-block;
    display: inline-block;
}

.icons:hover {
    box-shadow: var(--shadow);
}

.f-social-icons .icons {
    width: 4rem;
    height: 4rem;
    background-color: var(--icons-bg);
    padding: 1.4rem 1.8rem;
    /* position: relative;   */
    color: var(--white);
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}

.section-footer a:hover,
.footer a:active {
    color: var(--white);
}

/* Footer Section Ends */


/* Scroll To Top Button Section Starts */

.scrollTop-style {
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 1;
}

.scroll-top {
    width: 4rem;
    height: 4rem;
    background: var(--helper);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    color: var(--white);
    animation: water-wave 2.5s linear infinite;
    cursor: pointer;
}

/* Scroll To Top Button Section Ends */



/* Media Queries */
@media (max-width: 980px) {

    html {
        font-size: 50%;
    }

    .header {
        position: relative;
    }

    /* when we are in 980px we need to show the menu open icon */
    .mobile-navbar-btn {
        display: block;
        z-index: 99999;
    }

    .mobile-nav-icon {
        width: 5rem;
        height: 5rem;
        color: var(--helper);
        padding: 0;
    }

    .mobile-nav-icon[name="close-outline"] {
        display: none;
    }

    .header .logo {
        width: 30%;
        height: 30%;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--gradient);
        
        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 9999;
    }

    .navbar-lists {
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-lists .navbar-link:link,
    .navbar .navbar-lists .navbar-link:visited {
        color: var(--black);
        font-size: 3.2rem;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        /* z-index: 999; */
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }
    
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }


}