@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: "Work Sans", sans-serif;
}


:root {
    --heading: rgb(0, 10, 45);
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --black:#212529;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249, 249, 255);
    --gradient: linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
    --gradientSupport: -webkit-linear-gradient(0deg,
            rgb(132, 144, 255) 0%,
            rgb(98, 189, 252) 100%);
    --shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
    --shadowSupport: 0 2rem 2rem 0 rgba(132, 144, 255, 0.5);

}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

h1,
h2,
h3,
h4 {
    font-family: 'Poopins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Reusable Code Section Starts */

.section{
    padding: 9rem 0rem;
}

.container{
    max-width: 90rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    gap: 9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
    /* Here 2 is number of items */
}

.btn{
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 1rem;
}

.btn:hover,
.btn:active{
    box-shadow: var(--shadowSupport);
}

.common-heading{
font-size: 4.8rem;
font-weight: 600;
margin-bottom: 6rem;
text-transform: capitalize;
position: relative;
}

.common-heading::before{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--helper);
    border-radius: 50%;
}

.common-heading::after{
    content: "";
    position: absolute;
    top: 130%;
    left: 1.1rem;
    height: 0.3rem;
    min-width: 20rem;
    background: var(--helper);
}


/* Reusable Code Section Ends */


/* Header Section Starts */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4.8rem;
    height: 10rem;
    background-color: var(--bg);
}

.header .logo {
    height: 3rem;
}

.navbar-lists {
    display: flex;
    gap:  2.5rem;
}

.navbar-link:link,  
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    transition: all 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active{
    color: var(--helper);
}

/* Header Section Ends */

/* Hero Section Starts */

.section-hero{
    background-color: var(--bg);
}

.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}

.hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);
}

.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}

.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.section-hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hero-image img{
    border-radius: 15px;
    box-shadow: 2rem -2rem 0 0 var(--helper);
}

.hero-img{
    max-width: 80%;
}

/* Hero Section Ends */


/* Bio Section Starts */

.bio-data-para{
    padding-bottom: 3rem;
}

.bio-image img{
    border-radius: 15px;
    width: 80%;
    box-shadow: -2rem -2rem 0 0 var(--helper);
    display: inline-block;
}

.bio-data-stat{
    display: flex;
    padding: 0rem 0rem 3.5rem 0rem;
    flex-direction: column;
    gap: 3rem;
}

.bio-stat h3{
    margin-bottom: 1rem;
}

.bio-progress-bar{
    width: 90%;
    height: 0.8rem;
    background-color: var(--para-tint);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    position: relative;
}

.bio-progress-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 1rem;
}

.bio-progress-2::before{
    width: 80%;
}

.bio-progress-3::before{
    width: 50%;
}

.bio-progress-4::before{
    width: 69%;
}
.bio-progress-5::before{
    width: 49%;
}

.bio-progress-6::before{
    width: 60%;
}

.bio-progress-7::before{
    width: 60%;
}

.bio-progress-8::before{
    width: 50%;
}

.bio-progress-bar span{
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    outline: 0;
}

.bio-progress-bar span{
    left: 83%;
}

.bio-progress-2 span{
    left: 73%;
}

.bio-progress-3 span{
    left: 43%;
}

.bio-progress-4 span{
    left: 62%;
}

.bio-progress-5 span{
    left: 43%;
}

.bio-progress-6 span{
    left: 53%;
}

.bio-progress-7 span{
    left: 53%;
}

.bio-progress-8 span{
    left: 43%;
}

/* To create Caret */
.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 1rem solid var(--helper);
    border-color: transparent;
    /* border-bottom-color: var(--helper); */
    border-bottom-color: var(--helper);
    top: -1.8rem;
    /* right: 18px; */
}

/* Bio Section Ends */